/* ======================================================================================================== */
/* ================================================ 共通設定 =============================================== */
/* ======================================================================================================== */
.mincho {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.amgothic {
	font-family: "FOT-筑紫A丸ゴシック Std B";	
}

.engTitle {
	font-family: 'Parisienne', cursive;
	letter-spacing: 0.05em;
}
.numTitle {
	font-family: 'Lato', sans-serif;
}

.relative { position: relative; } .absolute { position: absolute; }
.inline { display: inline; } .inline_block { display:inline-block; } .block { display:block; }

.text-left { text-align: left; } .text-right { text-align: right; } .text-center { text-align: center; } .text-justify { text-align: justify; text-justify: inter-ideograph; }
@media screen and (max-width: 767px) {
/*.text-center { text-align: left; }*/
	.text-left-xs { text-align: left; }
.text-center-xs { text-align: center; }
}

@media screen and (max-width: 1199px) {
.container { max-width: 980px; padding-left: 15px; padding-right: 15px;
}
}
@media screen and (max-width: 991px) {
.container { max-width: 760px; }
}

.pd-common { padding-top: 50px; padding-bottom: 50px; padding-left: 0px; padding-right: 0px; }
@media screen and (max-width: 767px) {
.pd-common { padding-top: 30px; padding-bottom: 30px; padding-left: 0px; padding-right: 0px; }
}
.bg-common { background-repeat: no-repeat; background-position: center; background-size: cover; }

h1, .h1, h2, .h2, h3, .h3,h4, .h4, h5, .h5, h6, .h6{ margin-top: 0; margin-bottom: 0; font-weight: normal; line-height:1.7em; }

.op1 { opacity: 0.1; } .op2 { opacity: 0.2; } .op3 { opacity: 0.3; } .op4 { opacity: 0.4; } .op5 { opacity: 0.5; }
.op6 { opacity: 0.6; } .op7 { opacity: 0.7; } .op8 { opacity: 0.8; } .op9 { opacity: 0.9; } .op10 { opacity: 1; }

@media screen and (max-width: 991px) {
	.lh-sm-10 { line-height: 1.0em; } .lh-sm-11 { line-height: 1.1em; }
	.lh-sm-12 { line-height: 1.2em; } .lh-sm-13 { line-height: 1.3em; }
	.lh-sm-14 { line-height: 1.4em; } .lh-sm-15 { line-height: 1.5em; }
}

.ls01 { letter-spacing: 0.1em; }

/* ********************************************************************** */
/* *** LIST START ******************************************************* */
/* ********************************************************************** */
.ul-1 , .ul-2 , .ul-3 , .ul-4 , .ul-5 { letter-spacing: -0.4em; }
.ul-5 > li { width: 20%; display: inline-block; vertical-align: top; letter-spacing: normal; }
.ul-4 > li { width: 25%; display: inline-block; vertical-align: top; letter-spacing: normal; }
.ul-3 > li { width: 33.3333333333%; display: inline-block; vertical-align: top; letter-spacing: normal; }
.ul-2 > li { width: 50%; display: inline-block; vertical-align: top; letter-spacing: normal; }
.ul-1 > li { width: 100%; display: inline-block; vertical-align: top; letter-spacing: normal; }

@media screen and (max-width: 991px) {
	.ul-sm-5 > li { width: 20%!important; display: inline-block; vertical-align: top; }
	.ul-sm-4 > li { width: 25%!important; display: inline-block; vertical-align: top; }
	.ul-sm-3 > li { width: 33.3333333333%!important; display: inline-block; vertical-align: top; }
	.ul-sm-2 > li { width: 50%!important; display: inline-block; vertical-align: top; }
	.ul-sm-1 > li { width: 100%!important; display: inline-block; vertical-align: top; }
}
@media screen and (max-width: 767px) {
	.ul-xs-4 > li { width: 25%!important; display: inline-block; vertical-align: top; }
	.ul-xs-3 > li { width: 33.3333333333%!important; display: inline-block; vertical-align: top; }
	.ul-xs-2 > li { width: 50%!important; display: inline-block; vertical-align: top; }
	.ul-xs-1 > li { width: 100%!important; display: inline-block; vertical-align: top; }
}
/* *** LIST END ********************************************************* */

/* ********************************************************************** */
/* *** FONT START ******************************************************* */
/* ********************************************************************** */
.bold{ font-weight: bold; } .normal{ font-weight: normal!important; }
.lh_xl { line-height: 2.4em; } .lh_l { line-height: 2.0em; } .lh_m { line-height: 1.7em; } .lh_s { line-height: 1.4em; }
@media screen and (max-width: 767px) {
	.lh_xl {
		line-height: 2.0em;
	}
}

.fs01{ font-size: 0.1em; } .fs02{ font-size: 0.2em; } .fs03{ font-size: 0.3em; } .fs04{ font-size: 0.4em; } .fs05{ font-size: 0.5em; }
.fs06{ font-size: 0.6em; } .fs07{ font-size: 0.7em; } .fs08{ font-size: 0.8em; } .fs09{ font-size: 0.9em; } .fs10{ font-size: 1.0em; }
.fs11{ font-size: 1.1em; } .fs12{ font-size: 1.2em; } .fs13{ font-size: 1.3em; } .fs14{ font-size: 1.4em; } .fs15{ font-size: 1.5em; }
.fs16{ font-size: 1.6em; } .fs17{ font-size: 1.7em; } .fs18{ font-size: 1.8em; } .fs19{ font-size: 1.9em; } .fs20{ font-size: 2.0em; }
.fs21{ font-size: 2.1em; } .fs22{ font-size: 2.2em; } .fs23{ font-size: 2.3em; } .fs24{ font-size: 2.4em; } .fs25{ font-size: 2.5em; }
.fs26{ font-size: 2.6em; } .fs27{ font-size: 2.7em; } .fs28{ font-size: 2.8em; } .fs29{ font-size: 2.9em; } .fs30{ font-size: 3.0em; }
@media screen and (max-width: 1199px) {
.fs-md-01{ font-size: 0.1em; } .fs-md-02{ font-size: 0.2em; } .fs-md-03{ font-size: 0.3em; } .fs-md-04{ font-size: 0.4em; } .fs-md-05{ font-size: 0.5em; }
.fs-md-06{ font-size: 0.6em; } .fs-md-07{ font-size: 0.7em; } .fs-md-08{ font-size: 0.8em; } .fs-md-09{ font-size: 0.9em; } .fs-md-10{ font-size: 1.0em; }
.fs-md-11{ font-size: 1.1em; } .fs-md-12{ font-size: 1.2em; } .fs-md-13{ font-size: 1.3em; } .fs-md-14{ font-size: 1.4em; } .fs-md-15{ font-size: 1.5em; }
.fs-md-16{ font-size: 1.6em; } .fs-md-17{ font-size: 1.7em; } .fs-md-18{ font-size: 1.8em; } .fs-md-19{ font-size: 1.9em; } .fs-md-20{ font-size: 2.0em; }
.fs-md-21{ font-size: 2.1em; } .fs-md-22{ font-size: 2.2em; } .fs-md-23{ font-size: 2.3em; } .fs-md-24{ font-size: 2.4em; } .fs-md-25{ font-size: 2.5em; }
.fs-md-26{ font-size: 2.6em; } .fs-md-27{ font-size: 2.7em; } .fs-md-28{ font-size: 2.8em; } .fs-md-29{ font-size: 2.9em; } .fs-md-30{ font-size: 3.0em; }
}
@media screen and (max-width: 991px) {
.fs-sm-01{ font-size: 0.1em; } .fs-sm-02{ font-size: 0.2em; } .fs-sm-03{ font-size: 0.3em; } .fs-sm-04{ font-size: 0.4em; } .fs-sm-05{ font-size: 0.5em; }
.fs-sm-06{ font-size: 0.6em; } .fs-sm-07{ font-size: 0.7em; } .fs-sm-08{ font-size: 0.8em; } .fs-sm-09{ font-size: 0.9em; } .fs-sm-10{ font-size: 1.0em; }
.fs-sm-11{ font-size: 1.1em; } .fs-sm-12{ font-size: 1.2em; } .fs-sm-13{ font-size: 1.3em; } .fs-sm-14{ font-size: 1.4em; } .fs-sm-15{ font-size: 1.5em; }
.fs-sm-16{ font-size: 1.6em; } .fs-sm-17{ font-size: 1.7em; } .fs-sm-18{ font-size: 1.8em; } .fs-sm-19{ font-size: 1.9em; } .fs-sm-20{ font-size: 2.0em; }
.fs-sm-21{ font-size: 2.1em; } .fs-sm-22{ font-size: 2.2em; } .fs-sm-23{ font-size: 2.3em; } .fs-sm-24{ font-size: 2.4em; } .fs-sm-25{ font-size: 2.5em; }
.fs-sm-26{ font-size: 2.6em; } .fs-sm-27{ font-size: 2.7em; } .fs-sm-28{ font-size: 2.8em; } .fs-sm-29{ font-size: 2.9em; } .fs-sm-30{ font-size: 3.0em; }
}
@media screen and (max-width: 767px) {
.fs-xs-01{ font-size: 0.1em; } .fs-xs-02{ font-size: 0.2em; } .fs-xs-03{ font-size: 0.3em; } .fs-xs-04{ font-size: 0.4em; } .fs-xs-05{ font-size: 0.5em; }
.fs-xs-06{ font-size: 0.6em; } .fs-xs-07{ font-size: 0.7em; } .fs-xs-08{ font-size: 0.8em; } .fs-xs-09{ font-size: 0.9em; } .fs-xs-10{ font-size: 1.0em; }
.fs-xs-11{ font-size: 1.1em; } .fs-xs-12{ font-size: 1.2em; } .fs-xs-13{ font-size: 1.3em; } .fs-xs-14{ font-size: 1.4em; } .fs-xs-15{ font-size: 1.5em; }
.fs-xs-16{ font-size: 1.6em; } .fs-xs-17{ font-size: 1.7em; } .fs-xs-18{ font-size: 1.8em; } .fs-xs-19{ font-size: 1.9em; } .fs-xs-20{ font-size: 2.0em; }
.fs-xs-21{ font-size: 2.1em; } .fs-xs-22{ font-size: 2.2em; } .fs-xs-23{ font-size: 2.3em; } .fs-xs-24{ font-size: 2.4em; } .fs-xs-25{ font-size: 2.5em; }
.fs-xs-26{ font-size: 2.6em; } .fs-xs-27{ font-size: 2.7em; } .fs-xs-28{ font-size: 2.8em; } .fs-xs-29{ font-size: 2.9em; } .fs-xs-30{ font-size: 3.0em; }
}
/* *** FONT END ********************************************************* */

/* ********************************************************************** */
/* *** MARGIN START ***************************************************** */
/* ********************************************************************** */
/* margin-top */
.mt0{ margin-top: 0px!important; }
.mt10{ margin-top: 10px!important; } .mt20{ margin-top: 20px!important; } .mt30{ margin-top: 30px!important; } .mt40{ margin-top: 40px!important; } .mt50{ margin-top: 50px!important; }
.mt60{ margin-top: 60px!important; } .mt70{ margin-top: 70px!important; } .mt80{ margin-top: 80px!important; } .mt90{ margin-top: 90px!important; } .mt100{ margin-top: 100px!important; }
.mt110{ margin-top: 110px!important; } .mt120{ margin-top: 120px!important; } .mt130{ margin-top: 130px!important; } .mt140{ margin-top: 140px!important; } .mt150{ margin-top: 150px!important; }
.mt160{ margin-top: 160px!important; } .mt170{ margin-top: 170px!important; } .mt180{ margin-top: 180px!important; } .mt190{ margin-top: 190px!important; } .mt200{ margin-top: 200px!important; }
.mt-m10{ margin-top: -10px!important; } .mt-m20{ margin-top: -20px!important; } .mt-m30{ margin-top: -30px!important; } .mt-m40{ margin-top: -40px!important; } .mt-m50{ margin-top: -50px!important; }
.mt-m60{ margin-top: -60px!important; } .mt-m70{ margin-top: -70px!important; } .mt-m80{ margin-top: -80px!important; } .mt-m90{ margin-top: -90px!important; } .mt-m100{ margin-top: -100px!important; }
@media screen and (max-width: 1199px) {
.mt-md-0{ margin-top: 0px!important; }
.mt-md-10{ margin-top: 10px!important; } .mt-md-20{ margin-top: 20px!important; } .mt-md-30{ margin-top: 30px!important; } .mt-md-40{ margin-top: 40px!important; } .mt-md-50{ margin-top: 50px!important; }
.mt-md-60{ margin-top: 60px!important; } .mt-md-70{ margin-top: 70px!important; } .mt-md-80{ margin-top: 80px!important; } .mt-md-90{ margin-top: 90px!important; } .mt-md-100{ margin-top: 100px!important; }
.mt-md-110{ margin-top: 110px!important; } .mt-md-120{ margin-top: 120px!important; } .mt-md-130{ margin-top: 130px!important; } .mt-md-140{ margin-top: 140px!important; } .mt-md-150{ margin-top: 150px!important; }
.mt-md-160{ margin-top: 160px!important; } .mt-md-170{ margin-top: 170px!important; } .mt-md-180{ margin-top: 180px!important; } .mt-md-190{ margin-top: 190px!important; } .mt-md-200{ margin-top: 200px!important; }
}
@media screen and (max-width: 991px) {
.mt-sm-0{ margin-top: 0px!important; }
.mt-sm-10{ margin-top: 10px!important; } .mt-sm-20{ margin-top: 20px!important; } .mt-sm-30{ margin-top: 30px!important; } .mt-sm-40{ margin-top: 40px!important; } .mt-sm-50{ margin-top: 50px!important; }
.mt-sm-60{ margin-top: 60px!important; } .mt-sm-70{ margin-top: 70px!important; } .mt-sm-80{ margin-top: 80px!important; } .mt-sm-90{ margin-top: 90px!important; } .mt-sm-100{ margin-top: 100px!important; }
.mt-sm-110{ margin-top: 110px!important; } .mt-sm-120{ margin-top: 120px!important; } .mt-sm-130{ margin-top: 130px!important; } .mt-sm-140{ margin-top: 140px!important; } .mt-sm-150{ margin-top: 150px!important; }
.mt-sm-160{ margin-top: 160px!important; } .mt-sm-170{ margin-top: 170px!important; } .mt-sm-180{ margin-top: 180px!important; } .mt-sm-190{ margin-top: 190px!important; } .mt-sm-200{ margin-top: 200px!important; }
}
@media screen and (max-width: 767px) {
.mt-xs-0{ margin-top: 0px!important; }
.mt-xs-10{ margin-top: 10px!important; } .mt-xs-20{ margin-top: 20px!important; } .mt-xs-30{ margin-top: 30px!important; } .mt-xs-40{ margin-top: 40px!important; } .mt-xs-50{ margin-top: 50px!important; }
.mt-xs-60{ margin-top: 60px!important; } .mt-xs-70{ margin-top: 70px!important; } .mt-xs-80{ margin-top: 80px!important; } .mt-xs-90{ margin-top: 90px!important; } .mt-xs-100{ margin-top: 100px!important; }
.mt-xs-110{ margin-top: 110px!important; } .mt-xs-120{ margin-top: 120px!important; } .mt-xs-130{ margin-top: 130px!important; } .mt-xs-140{ margin-top: 140px!important; } .mt-xs-150{ margin-top: 150px!important; }
.mt-xs-160{ margin-top: 160px!important; } .mt-xs-170{ margin-top: 170px!important; } .mt-xs-180{ margin-top: 180px!important; } .mt-xs-190{ margin-top: 190px!important; } .mt-xs-200{ margin-top: 200px!important; }
}

/* margin-bottom */
.mb0{ margin-bottom: 0px!important; }
.mb10{ margin-bottom: 10px!important; } .mb20{ margin-bottom: 20px!important; } .mb30{ margin-bottom: 30px!important; } .mb40{ margin-bottom: 40px!important; } .mb50{ margin-bottom: 50px!important; }
.mb60{ margin-bottom: 60px!important; } .mb70{ margin-bottom: 70px!important; } .mb80{ margin-bottom: 80px!important; } .mb90{ margin-bottom: 90px!important; } .mb100{ margin-bottom: 100px!important; }
.mb110{ margin-bottom: 110px!important; } .mb120{ margin-bottom: 120px!important; } .mb130{ margin-bottom: 130px!important; } .mb140{ margin-bottom: 140px!important; } .mb150{ margin-bottom: 150px!important; }
.mb160{ margin-bottom: 160px!important; } .mb170{ margin-bottom: 170px!important; } .mb180{ margin-bottom: 180px!important; } .mb190{ margin-bottom: 190px!important; } .mb200{ margin-bottom: 200px!important; }
@media screen and (max-width: 1199px) {
.mb-md-0{ margin-bottom: 0px!important; }
.mb-md-10{ margin-bottom: 10px!important; } .mb-md-20{ margin-bottom: 20px!important; } .mb-md-30{ margin-bottom: 30px!important; } .mb-md-40{ margin-bottom: 40px!important; } .mb-md-50{ margin-bottom: 50px!important; }
.mb-md-60{ margin-bottom: 60px!important; } .mb-md-70{ margin-bottom: 70px!important; } .mb-md-80{ margin-bottom: 80px!important; } .mb-md-90{ margin-bottom: 90px!important; } .mb-md-100{ margin-bottom: 100px!important; }
.mb-md-110{ margin-bottom: 110px!important; } .mb-md-120{ margin-bottom: 120px!important; } .mb-md-130{ margin-bottom: 130px!important; } .mb-md-140{ margin-bottom: 140px!important; } .mb-md-150{ margin-bottom: 150px!important; }
.mb-md-160{ margin-bottom: 160px!important; } .mb-md-170{ margin-bottom: 170px!important; } .mb-md-180{ margin-bottom: 180px!important; } .mb-md-190{ margin-bottom: 190px!important; } .mb-md-200{ margin-bottom: 200px!important; }
}
@media screen and (max-width: 991px) {
.mb-sm-0{ margin-bottom: 0px!important; }
.mb-sm-10{ margin-bottom: 10px!important; } .mb-sm-20{ margin-bottom: 20px!important; } .mb-sm-30{ margin-bottom: 30px!important; } .mb-sm-40{ margin-bottom: 40px!important; } .mb-sm-50{ margin-bottom: 50px!important; }
.mb-sm-60{ margin-bottom: 60px!important; } .mb-sm-70{ margin-bottom: 70px!important; } .mb-sm-80{ margin-bottom: 80px!important; } .mb-sm-90{ margin-bottom: 90px!important; } .mb-sm-100{ margin-bottom: 100px!important; }
.mb-sm-110{ margin-bottom: 110px!important; } .mb-sm-120{ margin-bottom: 120px!important; } .mb-sm-130{ margin-bottom: 130px!important; } .mb-sm-140{ margin-bottom: 140px!important; } .mb-sm-150{ margin-bottom: 150px!important; }
.mb-sm-160{ margin-bottom: 160px!important; } .mb-sm-170{ margin-bottom: 170px!important; } .mb-sm-180{ margin-bottom: 180px!important; } .mb-sm-190{ margin-bottom: 190px!important; } .mb-sm-200{ margin-bottom: 200px!important; }
}
@media screen and (max-width: 767px) {
.mb-xs-0{ margin-bottom: 0px!important; }
.mb-xs-10{ margin-bottom: 10px!important; } .mb-xs-20{ margin-bottom: 20px!important; } .mb-xs-30{ margin-bottom: 30px!important; } .mb-xs-40{ margin-bottom: 40px!important; } .mb-xs-50{ margin-bottom: 50px!important; }
.mb-xs-60{ margin-bottom: 60px!important; } .mb-xs-70{ margin-bottom: 70px!important; } .mb-xs-80{ margin-bottom: 80px!important; } .mb-xs-90{ margin-bottom: 90px!important; } .mb-xs-100{ margin-bottom: 100px!important; }
.mb-xs-110{ margin-bottom: 110px!important; } .mb-xs-120{ margin-bottom: 120px!important; } .mb-xs-130{ margin-bottom: 130px!important; } .mb-xs-140{ margin-bottom: 140px!important; } .mb-xs-150{ margin-bottom: 150px!important; }
.mb-xs-160{ margin-bottom: 160px!important; } .mb-xs-170{ margin-bottom: 170px!important; } .mb-xs-180{ margin-bottom: 180px!important; } .mb-xs-190{ margin-bottom: 190px!important; } .mb-xs-200{ margin-bottom: 200px!important; }
}

/* margin-left */
.ml0 { margin-left: 0px!important; } .ml-auto { margin-left: auto!important; }
.ml10{ margin-left: 10px!important; } .ml20{ margin-left: 20px!important; } .ml30{ margin-left: 30px!important; } .ml40{ margin-left: 40px!important; } .ml50{ margin-left: 50px!important; }
.ml60{ margin-left: 60px!important; } .ml70{ margin-left: 70px!important; } .ml80{ margin-left: 80px!important; } .ml90{ margin-left: 90px!important; } .ml100{ margin-left: 100px!important; }
.ml110{ margin-left: 110px!important; } .ml120{ margin-left: 120px!important; } .ml130{ margin-left: 130px!important; } .ml140{ margin-left: 140px!important; } .ml150{ margin-left: 150px!important; }
.ml160{ margin-left: 160px!important; } .ml170{ margin-left: 170px!important; } .ml180{ margin-left: 180px!important; } .ml190{ margin-left: 190px!important; } .ml200{ margin-left: 200px!important; }
@media screen and (max-width: 1199px) {
.ml-md-0 { margin-left: 0px!important; } .ml-md-auto { margin-left: auto!important; }
.ml-md-10{ margin-left: 10px!important; } .ml-md-20{ margin-left: 20px!important; } .ml-md-30{ margin-left: 30px!important; } .ml-md-40{ margin-left: 40px!important; } .ml-md-50{ margin-left: 50px!important; }
.ml-md-60{ margin-left: 60px!important; } .ml-md-70{ margin-left: 70px!important; } .ml-md-80{ margin-left: 80px!important; } .ml-md-90{ margin-left: 90px!important; } .ml-md-100{ margin-left: 100px!important; }
.ml-md-110{ margin-left: 110px!important; } .ml-md-120{ margin-left: 120px!important; } .ml-md-130{ margin-left: 130px!important; } .ml-md-140{ margin-left: 140px!important; } .ml-md-150{ margin-left: 150px!important; } 
.ml-md-160{ margin-left: 160px!important; } .ml-md-170{ margin-left: 170px!important; } .ml-md-180{ margin-left: 180px!important; } .ml-md-190{ margin-left: 190px!important; } .ml-md-200{ margin-left: 200px!important; }
}
@media screen and (max-width: 991px) {
.ml-sm-0 { margin-left: 0px!important; } .ml-sm-auto { margin-left: auto!important; }
.ml-sm-10{ margin-left: 10px!important; } .ml-sm-20{ margin-left: 20px!important; } .ml-sm-30{ margin-left: 30px!important; } .ml-sm-40{ margin-left: 40px!important; } .ml-sm-50{ margin-left: 50px!important; }
.ml-sm-60{ margin-left: 60px!important; } .ml-sm-70{ margin-left: 70px!important; } .ml-sm-80{ margin-left: 80px!important; } .ml-sm-90{ margin-left: 90px!important; } .ml-sm-100{ margin-left: 100px!important; }
.ml-sm-110{ margin-left: 110px!important; } .ml-sm-120{ margin-left: 120px!important; } .ml-sm-130{ margin-left: 130px!important; } .ml-sm-140{ margin-left: 140px!important; } .ml-sm-150{ margin-left: 150px!important; }
.ml-sm-160{ margin-left: 160px!important; } .ml-sm-170{ margin-left: 170px!important; } .ml-sm-180{ margin-left: 180px!important; } .ml-sm-190{ margin-left: 190px!important; } .ml-sm-200{ margin-left: 200px!important; }
}
@media screen and (max-width: 767px) {
.ml-xs-0 { margin-left: 0px!important; } .ml-xs-auto{ margin-left: auto!important; }
.ml-xs-10{ margin-left: 10px!important; } .ml-xs-20{ margin-left: 20px!important; } .ml-xs-30{ margin-left: 30px!important; } .ml-xs-40{ margin-left: 40px!important; } .ml-xs-50{ margin-left: 50px!important; }
.ml-xs-60{ margin-left: 60px!important; } .ml-xs-70{ margin-left: 70px!important; } .ml-xs-80{ margin-left: 80px!important; } .ml-xs-90{ margin-left: 90px!important; } .ml-xs-100{ margin-left: 100px!important; }
.ml-xs-110{ margin-left: 110px!important; } .ml-xs-120{ margin-left: 120px!important; } .ml-xs-130{ margin-left: 130px!important; } .ml-xs-140{ margin-left: 140px!important; } .ml-xs-150{ margin-left: 150px!important; }
.ml-xs-160{ margin-left: 160px!important; } .ml-xs-170{ margin-left: 170px!important; } .ml-xs-180{ margin-left: 180px!important; } .ml-xs-190{ margin-left: 190px!important; } .ml-xs-200{ margin-left: 200px!important; }
}

/* margin-right */
.mr0{ margin-right: 0px!important; } .mr-auto { margin-right: auto!important; }
.mr10{ margin-right: 10px!important; } .mr20{ margin-right: 20px!important; } .mr30{ margin-right: 30px!important; } .mr40{ margin-right: 40px!important; } .mr50{ margin-right: 50px!important; }
.mr60{ margin-right: 60px!important; } .mr70{ margin-right: 70px!important; } .mr80{ margin-right: 80px!important; } .mr90{ margin-right: 90px!important; } .mr100{ margin-right: 100px!important; }
.mr110{ margin-right: 110px!important; } .mr120{ margin-right: 120px!important; } .mr130{ margin-right: 130px!important; } .mr140{ margin-right: 140px!important; } .mr150{ margin-right: 150px!important; }
.mr160{ margin-right: 160px!important; } .mr170{ margin-right: 170px!important; } .mr180{ margin-right: 180px!important; } .mr190{ margin-right: 190px!important; } .mr200{ margin-right: 200px!important; }
@media screen and (max-width: 1199px) {
.mr-md-0{ margin-right: 0px!important; } .mr-md-auto { margin-right: auto!important; }
.mr-md-10{ margin-right: 10px!important; } .mr-md-20{ margin-right: 20px!important; } .mr-md-30{ margin-right: 30px!important; } .mr-md-40{ margin-right: 40px!important; } .mr-md-50{ margin-right: 50px!important; }
.mr-md-60{ margin-right: 60px!important; } .mr-md-70{ margin-right: 70px!important; } .mr-md-80{ margin-right: 80px!important; } .mr-md-90{ margin-right: 90px!important; } .mr-md-100{ margin-right: 100px!important; }
.mr-md-110{ margin-right: 110px!important; } .mr-md-120{ margin-right: 120px!important; } .mr-md-130{ margin-right: 130px!important; } .mr-md-140{ margin-right: 140px!important; } .mr-md-150{ margin-right: 150px!important; }
.mr-md-160{ margin-right: 160px!important; } .mr-md-170{ margin-right: 170px!important; } .mr-md-180{ margin-right: 180px!important; } .mr-md-190{ margin-right: 190px!important; } .mr-md-200{ margin-right: 200px!important; }
}
@media screen and (max-width: 991px) {
.mr-sm-0{ margin-right: 0px!important; } .mr-sm-auto { margin-right: auto!important; }
.mr-sm-10{ margin-right: 10px!important; } .mr-sm-20{ margin-right: 20px!important; } .mr-sm-30{ margin-right: 30px!important; } .mr-sm-40{ margin-right: 40px!important; } .mr-sm-50{ margin-right: 50px!important; }
.mr-sm-60{ margin-right: 60px!important; } .mr-sm-70{ margin-right: 70px!important; } .mr-sm-80{ margin-right: 80px!important; } .mr-sm-90{ margin-right: 90px!important; } .mr-sm-100{ margin-right: 100px!important; }
.mr-sm-110{ margin-right: 110px!important; } .mr-sm-120{ margin-right: 120px!important; } .mr-sm-130{ margin-right: 130px!important; } .mr-sm-140{ margin-right: 140px!important; } .mr-sm-150{ margin-right: 150px!important; }
.mr-sm-160{ margin-right: 160px!important; } .mr-sm-170{ margin-right: 170px!important; } .mr-sm-180{ margin-right: 180px!important; } .mr-sm-190{ margin-right: 190px!important; } .mr-sm-200{ margin-right: 200px!important; }
}
@media screen and (max-width: 767px) {
.mr-xs-0{ margin-right: 0px!important; } .mr-xs-auto{ margin-right: auto!important; }
.mr-xs-10{ margin-right: 10px!important; } .mr-xs-20{ margin-right: 20px!important; } .mr-xs-30{ margin-right: 30px!important; } .mr-xs-40{ margin-right: 40px!important; } .mr-xs-50{ margin-right: 50px!important; }
.mr-xs-60{ margin-right: 60px!important; } .mr-xs-70{ margin-right: 70px!important; } .mr-xs-80{ margin-right: 80px!important; } .mr-xs-90{ margin-right: 90px!important; } .mr-xs-100{ margin-right: 100px!important; }
.mr-xs-110{ margin-right: 110px!important; } .mr-xs-120{ margin-right: 120px!important; } .mr-xs-130{ margin-right: 130px!important; } .mr-xs-140{ margin-right: 140px!important; } .mr-xs-150{ margin-right: 150px!important; }
.mr-xs-160{ margin-right: 160px!important; } .mr-xs-170{ margin-right: 170px!important; } .mr-xs-180{ margin-right: 180px!important; } .mr-xs-190{ margin-right: 190px!important; } .mr-xs-200{ margin-right: 200px!important; }
}
/* *** MARGIN END ******************************************************* */

.pt0{ padding-top: 0px!important; }
.pb0{ padding-bottom: 0px!important; }



body {
	/*color: #727171;*/
	color: #111;
    /*
	font-family: ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    */
}

.futura {
	font-family: "FuturaLTPro-Medium";
}
.ygothic {
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

/* SVG */
.defs {
	display: none;
}
.icon_mail {
	width: 30px;
	height: 24px;
	fill: #fff;
	margin-right: 10px;
}

.mainTitle {
    line-height: 1.4em;
    font-weight: bold;
    font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.mainTitle:after {
	content: "";
	display: inline-block;
	position: absolute;
	bottom: -30px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-image: url('../img/maintitle_icon.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 83px;
	height: 12px;	
}

.pt_border {
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #7f6b2c;
	position: relative;
}
.pt_border::before , .pt_border::after {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0px;
	width: 4px;
	height: 4px;
	background-color: #7f6b2c;
}
.pt_border::before {
	transform: rotate(-45deg) translateY(-50%);
}
.pt_border::after {
	left: inherit;
	right: 0;
	transform: rotate(45deg) translateY(-50%);
}

.pt_btn {
	display: inline-block;
	color: #fff;
	background-color: #bf8b92;
	border: 1px solid #bf8b92;
	text-align: center;
	padding: 15px 10px;
	width: 100%;
	max-width: 260px;
	transition: all 0.3s;
	position: relative;
	line-height: 1em;
}
.pt_btn:after {
	position: absolute;
	content: "";
	display: inline-block;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	width: 5px;
	height: 5px;
	right: 10px;
	top: 50%;
	transform: rotate(45deg) translateY(-50%);
}
.pt_btn:hover {
	color: #bf8b92;
	background-color: #fff;
	opacity: 1;
}
.pt_btn_contact {
	border: 1px solid #673a3f;
	background-color: #673a3f;
	max-width: 360px;
	display: flex;
	align-items: center;
    justify-content: center;
	min-height: 68px;
	padding: 10px 5px;
}
.pt_btn_contact:after {
	display: none;
}
.pt_btn_contact:hover {
	color: #673a3f;
}
.pt_btn_contact .icon_mail {
	transition: all 0.3s;
	vertical-align: middle;
}
.pt_btn_contact:hover .icon_mail {
	fill: #673a3f;
}
/*
.topFvBoxText {
    text-shadow: 2px 4px 3px rgba(255, 255, 255, 0.3);
}
*/

.topFvBoxText_jp {
	/*font-size: 1.8vw;*/
	font-size: 2.8vw;
}
.topFvBoxText_eng {
	font-size: 1.8vw;
}

.mainHr {
	width: 50px;
	margin: 0 auto;
}
.top_about_ul {
	margin-left: -15px;
	margin-right: -15px;
}
.top_about_ul > li {
	padding: 15px;
}
.top_about_svg {
	height: 100%;
	width: 100%;
	max-width: 340px;
	margin: 0 auto;
	display: block;
}
@media all and (-ms-high-contrast: none){
	.top_about_svg {
		height: inherit;
	}
}

@media screen and (max-width: 767px) {
	.top_about_svg {
		max-width: 240px;
	}
	#top_about , #top_news {
		background-position: 100% center;
	}
	.topFvBoxText_jp {
		font-size: 7vw;
	}
	.topFvBoxText_eng {
		font-size: 5.4vw;
	}
}

@media screen and (max-width: 767px) {
	.top_profile_img02 {
		width: 100%;
		max-width: 220px;
	}
}

.top_menu_img {
	padding-bottom: 67%;
}
.top_menu_ul {
	margin-left: -5px;
	margin-right: -5px;
}
.top_menu_ul > li {
	padding: 5px;
}
.top_menu_ul > li:first-child {
	width: 100%!important;
}
.top_menu_txt {
	padding-left: 15px;
	border-left: 1px solid #727171;
}


.top_menu_tag > li {
	display: inline-block;
	padding: 5px 20px;
	text-align: center;
	border-radius: 20px;
}
.top_menu_cat {
	display: inline-block;
	padding: 3px 20px;
	background-image: linear-gradient(45deg, #fff 3px, transparent 0),
					  linear-gradient(-45deg, #fff 3px, transparent 0),
					  linear-gradient(135deg, #fff 3px, transparent 0),
					  linear-gradient(-135deg, #fff 3px, transparent 0);
}
.top_menu_first_price {
	padding: 0px 20px;
	display: inline-block;
	background-color: #a44e60;
}
.top_menu_first_price span {
	vertical-align: middle;
}
.top_menu_left {
	padding-left: 50px;
	padding-top: 40px;
}
.top_menu_left:before {
	position: absolute;
	content: "";
	top: 0px;
	left: 0px;
	background-image: url('../img/top_meni_icon.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 74px;
	height: 74px;
}

.top_menu_txt.lh_xl.mb10 {
    display: none;
}

.top_menu_imgarea {
    width: 120%;
}


@media screen and (min-width: 1200px) {
	.top_menu_imgarea {
        /*
		width: calc((100vw - 1170px)/2 + 472px);
        */
		max-width: none;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.top_menu_imgarea {
        /*
		width: calc((100vw - 980px)/2 + 396px);
        */
		max-width: none;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.top_menu_imgarea {
        /*
		width: calc((100vw - 760px)/2 + 308px);
        */
        width: 100%;
		max-width: none;
	}
	.top_menu_first_price {
		padding: 10px 20px 0px;
	}
}
@media screen and (max-width: 767px) {
	.top_menu_left:before {
		left: -10px;
		width: 40px;
		height: 40px;
	}
	.top_menu_left {
		padding-left: 10px;
		padding-top: 20px;
	}
	.top_menu_first_price {
		padding: 10px 20px 6px;
	}
    
    .topMenuOpImg {
        margin-bottom: 5%;
        max-width: 150px;
    }   
    .top_menu_imgarea{
        width: 100%;
    }
    
}


.top_option_ul {
}
.top_option_ul > li {
	padding: 20px 30px;
}


.top_lotion_txtarea {
	padding: 40px 15px;
	border-left: none;
	border-right: none;
}
.top_lotion_ul {
	margin-left: -15px;
	margin-right: -15px;
}
.top_lotion_ul > li {
	padding: 15px;
}
.top_lotion_img {
	padding-bottom: 86%;
}

@media screen and (max-width: 767px) {
	.top_lotion_img {
		padding-bottom: 50%;
		max-width: 50%;
		margin: 0 auto;
	}
}

.top_course_ul_img {
	height: 100%;
}
.top_course_ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/*min-height: 280px;*/
	border: 1px solid #bf8b92;
}
.top_course_ul > li {
	width: 35%;
}
.top_course_ul > li:first-child {
	width: 65%;
	padding: 30px;
}

.top_course_ul.pageDietFee > li:first-child {
    width: 100%;
}

@media screen and (max-width: 991px) {
	.top_option_ul {
		margin-left: -20px;
		margin-right: -20px;
	}
	.top_option_ul > li {
		padding: 20px 20px;
	}
	.top_course_ul > li:first-child {
		width: 60%;
		padding: 20px 30px 0px;
	}
	.top_course_ul > li:last-child {
		width: 40%;
	}
	.top_cource_table th , .top_cource_table td {
		width: 100%!important;
		display: block;
	}
}

@media screen and (max-width: 767px) {
	.top_course_ul {
		display: block;
	}
	.top_course_ul > li {
		width: 100%!important;
	}
	.top_course_ul_img {
		padding-bottom: 70%;
	}
}

.top_cource_table {
	width: 100%;
}
.top_cource_table th , .top_cource_table td {
	vertical-align: top;
}
.top_cource_table th {
	width: 20%;
	padding-top: 4px;
}
.top_cource_table td {
	width: 80%;
	padding-bottom: 20px;
}


.top_voice_name {
	border-radius: 50px;
	padding: 4px 10px;
	display: inline-block;
	width: 100%;
	max-width: 100px;
	text-align: center;
}
.top_voice_ul {
	margin-left: -10px;
	margin-right: -10px;
}
.top_voice_ul > li {
	padding: 10px;
	min-height: 200px;
	margin-bottom: 20px;
}
.top_voice_ul_inner {
	padding-left: 145px;
}
.top_voice_ul_inner:before {
	position: absolute;
	content: "";
	display: inline-block;
	background-image: url('../img/top_voice_icon.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 130px;
	height: 180px;
	left: 0;
	top: 0;
}

@media screen and (max-width: 767px) {
	.top_voice_ul_inner {
		padding-left: 100px;
	}
	.top_voice_ul_inner:before {
		width: 80px;
		height: 120px;
	}
	.top_voice_ul > li {
		min-height: 150px;
	}
}

.top_qa_dl dt , .top_qa_dl dd .top_a_inner {
	font-weight: normal;
	position: relative;
	padding: 0px 10px 0px 76px;
	display: flex;
	align-items: center;
	min-height: 60px;
}
/*
.top_qa_dl dt:hover {
	cursor: pointer;
    background-color: #efe4e6;
    transition: 0.3s;
}
*/
.top_qa_dl dt {
    transition: 0.3s;
}
.top_qa_dl dd {
    /*
	display: none;
    */
}
.top_qa_icon {
    display: inline-block;
    text-align: center;
    line-height: 1em;
    padding: 17px 7px 15px 10px;
    vertical-align: middle;
    margin-right: 20px;
    font-family: 'Roboto Condensed', sans-serif;
	position: absolute;
	left: 0;
	top: 50%;
	transform:translateY(-50%);
	width: 60px;
	height: 60px;
	letter-spacing: 0em;
}
.top_qa_dl {
	flex-direction: column;
}
@media screen and (max-width: 767px) {
	.top_qa_icon {
		padding: 12px 0px 0px 0px;
		width: 44px;
		height: 44px;
	}
	.top_qa_dl dt , .top_qa_dl dd .top_a_inner {
		padding: 0px 10px 0px 56px;
	}
}


.top_news_table {
	width: 100%;
}
.top_news_table th , .top_news_table td {
	font-weight: bold;
	vertical-align: top;
	padding: 15px 10px;
}
.top_news_table th:first-child {
	width: 140px;
}
.top_news_table th:nth-child(2) {
	width: 120px;
	font-weight: normal;
	text-align: center;
}
.top_news_cat {
	display: inline-block;
	padding: 5px 10px;
	border-radius: 30px;
}
.top_news_table td a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 767px) {
	.top_news_table th , .top_news_table td {
		display: inline-block;
		padding-left: 0px;
		padding-right: 0px;
		vertical-align: middle;
	}
	.top_news_table td:last-child {
		display: block;
	}
	.top_news_table th:first-child {
		width: 120px;
	}
	.top_news_table th:nth-child(2) {
		text-align: left;
	}
	.top_news_table th {
		padding-bottom: 0px;
	}
	.top_news_cat {
		padding: 3px 10px;
	}
}


.f_contact {
	background-color: #bf9f72;
}

.footerContactTelCont a {
    margin-left: auto;
    margin-right: auto;
}

.f_banner_outer:before , .f_banner_outer:after , 
.f_banner_inner:before , .f_banner_inner:after {
	position: absolute;
	content: "";
	display: inline-block;
	background-image: url('../img/top_meni_icon.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 36px;
	height: 36px;
}
.f_banner_outer:before {
	top: 5px;
	left: 5px;
}
.f_banner_outer:after {
	top: 5px;
	right: 5px;
	transform: rotate(90deg);
}
.f_banner_inner:before {
	bottom: 5px;
	left: 5px;
	transform: rotate(-90deg);
}
.f_banner_inner:after {
	bottom: 5px;
	right: 5px;
	transform: rotate(180deg);
}

.f_banner_inner {
	align-items: center;
    justify-content: center;
	min-height: 120px;
}

.f_banner {
	margin-left: -10px;
	margin-right: -10px;
}
.f_banner > li {
	padding: 10px;
}
.f_banner_line {
	padding: 15px 20px 15px 120px;
	align-items: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #1ab71e;
}
.f_line_icon {
	width: 100%;
	display: inline-block;
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	max-width: 78px;
}
.f_line_link {
    display: inline-block;
	border: 1px solid #1bb71f;
    background-color: #1bb71f;
    padding: 8px 10px;
    line-height: 1em;
}
a:hover .f_line_link {
	background-color: #fff;
	color: #1bb71f;
	opacity: 1;
}
.f_logo {
	width: 100%;
	max-width: 140px;
}

@media screen and (max-width: 1199px) {
	.f_line_icon {
		max-width: 54px;
	}
	.f_banner_line {
		padding: 15px 20px 15px 86px;
	}
}
@media screen and (max-width: 991px) {
	.f_banner {
		width: 100%;
		max-width: 520px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 767px) {
	.f_banner_line {
		padding: 10px 10px 10px 80px;
	}
	.f_line_icon {
		left: 15px;
		max-width: 48px;
	}
	.pt_btn_contact {
		margin-left: auto;
		margin-right: auto;
	}
	.f_logo {
		max-width: 100px;
	}
}



/* ********************************************************************** */
/* *** ダイエットカウンセリング ********************************************* */
/* ********************************************************************** */

/* 下層ページ FV */
.under_fv.parallax {
	padding-bottom: 340px;
}
.under_fv_txt {
	top: 50%;
	transform: translateY(-50%);
	right: 8vw;
}

@media screen and (max-width: 767px) {
	.under_fv.parallax:before {
		content: "";
		display: inline-block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255,255,255,0.3);
		z-index: 0;
	}
	.under_fv.parallax {
		padding-top: 150px;
		padding-bottom: 150px;
	}
	.under_fv_txt {
		position: relative;
		transform: translateY(0%);
		right: inherit;
		text-align: center;
	}
}

.parallax {
	width: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
	background: #000000;
}
.parallax_diet_concept:before {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.9);
	z-index: 0;
}
.diet_problem_txtarea {
	padding: 10px 15px 10px 50px;
}
.diet_problem_txtarea:before {
	content: "";
	display: inline-block;
	position: absolute;
	background-image: url('../img/diet_problem_icon.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	top: 50%;
	transform: translateY(-50%);
	left: 15px;
	vertical-align: middle;
}

/* ヘッダーメニュー */
.menu-item a {
	transition: all 0.3s;
}
.menu-item a:hover {
	color: #7f6b2c;
}
.menu-item a span {
	opacity: 0;
	transition: opacity 0.3s;
	position: absolute;
	display: inline-block;
	width: 18px;
	height: 17px;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	background-image: url('../img/h_icon.png');
	background-size: contain;
	background-repeat: no-repeat;
}
.menu-item a:hover span {
	opacity: 1;
}
.menu-item a:before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	left: 0;
	bottom: 0;
	top: 0;
	right:0;
	transition: 0.3s;
	background: #fff;
}
.menu-item a:after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -2;
	left: 0;
	bottom: 0;
	top: 0;
	right:0;
	background: -webkit-linear-gradient(#fff, #cca835);
	background: -o-linear-gradient(#fff, #cca835);
	background: linear-gradient(#fff, #cca835);
}
.menu-item a:hover:before {
	opacity: 0;
}

.pt_btn_h_contact {
	border: 1px solid #bda13d;
	transition: all 0.3s;
	color: #7f6b2c!important;
	border-radius: 5px;
	position: relative;
	background-color: rgba(255,255,255,0);
}
.pt_btn_h_contact:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	left: 0;
	bottom: 0;
	top: 0;
	right:0;
	transition: 0.3s;
	background: -moz-linear-gradient(to right,#bda13d,#dec857 50%,#bda13d); 
	background: -webkit-linear-gradient(to right,#bda13d,#dec857 50%,#bda13d); 
	background: linear-gradient(to right,#bda13d,#dec857 50%,#bda13d);
}
.pt_btn_h_contact:hover {
	background: #fff;
}
.pt_btn_h_contact:hover:before {
	opacity: 0;
}
.pt_btn_h_contact .icon_mail {
	width: 20px;
	height:  16px;
	fill: #7f6b2c;
	vertical-align: text-top;
}

.h_tel_link {
	display: inline-block;
    width: 100%;
    max-width: 260px;
	vertical-align: middle;
	margin-right: 10px;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.menu-item a span {
		width: 15px;
		height: 12px;
		left: 5px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.h_tel_link {
		max-width: 240px;
	}
	.menu-item a span {
		display: none!important;
	}
	.pt_btn_h_contact {
		max-width: 220px;
	}
}

@media screen and (max-width: 767px) {
	.header_contact {
		display: none;
	}
	.menu-item a:before , .menu-item a:after , .menu-item a span {
		display: none!important;
	}
}


/*トップビフォー・アフター*/

.topBfFlex {
    display: flex;
    margin-bottom: 3%;
}
.topBfCol {
    width: 50%;
}
.topBfImg {
    padding-bottom: 140%;
    position: relative;
}

.topBfCaption {
    background:rgba(127,107,44,0.7);
    color: #fff;
    padding: 0.3em 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    font-size: 32px;
    line-height: 1;
}
.after .topBfCaption{
    background: rgba(164,78,96,0.7);
}
.topBfBox {
    margin-bottom: 10%;
}


.topNewsBannerBox {
    border: 3px solid #bf8b92;
    padding: 5%;
    display: flex;
    background: #fff;
}

.topNewsBannerImgWrap {
    width: 20%;
    margin-right: 5%;
    max-width: 80px;
}
.topNewsBannerTextWrap {
}
.topNewsBannerButton{
    background: #bf8b92;
    padding: 0.5em 1.5em;
    display: inline-block;
    border: 1px solid #bf8b92;
    transition: 0.3s;
}
a:hover .topNewsBannerButton{
    background: #fff;
    color: #bf8b92;
}
.topNewsBannerImg.blog{
    border-radius: 50%;
}
.h_tel_insta{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.h_tel_insta img{
    width: 40px;
}

@media screen and (max-width: 767px) {
    .topNewsBannerBox{
        margin-bottom: 5% ;
    }
}
@media screen and (max-width: 991px) {
    .h_tel_insta{
        display: none;
    }
}

